.glyph {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

.glyph--size-rect {
  width: 1.875rem;
  height: 1.25rem;
}

.glyph--size-small {
  width: .875rem;
  height: .875rem;
}

.glyph--card-inquiry {
  background-image: url('/assets/glyphs/card-inquiry.svg');
  background-position: center;
  background-size: cover;
}

.glyph--fee-inquiry {
  background-image: url('/assets/glyphs/fee-inquiry.svg');
  background-position: center;
  background-size: cover;
}

.glyph--plus {
  background-image: url('/assets/glyphs/plus.svg');
  background-position: center;
  background-size: cover;
}