/* header */

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 300;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  overflow-x: hidden;
}

:root {
  --z-index-level-1: 1;
  --z-index-level-2: 2;
  --z-index-level-3: 3;
  --z-index-level-4: 4;
  --z-index-level-5: 5;
  --z-index-level-6: 6;

  --header-height: 3.5rem;
  --dashboard-date-selector-height: 2.75rem;
  --summary-shortcuts-height: 3.5rem;

  --color-background: #F5F7F9;
  --color-header-bg: #343434;
  --color-primary: #19C783;
  --color-dashboard-summary-card: linear-gradient(300deg, #008845, #1BCB87);

  --gradient-primary: linear-gradient(105deg, #19C591, #419D5C);

  --box-shadow-default: 0 3px 6px #00000029;
}

.taa-container {
  width: 100%;
  margin-top: var(--header-height)
}

.taa-header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header-bg);
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  z-index: var(--z-index-level-6);
}

.taa-header__title {
  font-size: 1.125rem;
  color: white;
  font-weight: 500;
}

.taa-dashboard-date-selector {
  display: flex;
  background-color: var(--color-header-bg);
  width: 100%;
  justify-content: center;
  padding: 0 1rem 1.25rem;
  padding-top: 0;
}

.taa-dashboard-date-selector__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.taa-dashboard-date-selector__item__day {
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Spoqa Han Sans';
  line-height: 1.75rem;
}

.taa-dashboard-date-selector__item--selected .taa-dashboard-date-selector__item__day{
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.25rem;
}

.taa-dashboard-date-selector__item__dotw {
  color: rgba(255, 255, 255, .5);
  font-weight: 700;
  font-size: .75rem;
  text-align: center;
  line-height: 1.125rem;
}

.taa-dashboard-summary {
  position: relative;
  padding: 0 1rem;
  background: linear-gradient(180deg, var(--color-header-bg) 0%, var(--color-header-bg) 50%, rgba(0, 0, 0, 0) 50%,  rgba(0, 0, 0, 0) 100%);
}

.taa-card {
  background-color: white;
  border-radius: 1rem;
  padding: 1.125rem;
}

.taa-card--dashboard-summary {
  position: relative;
  background: var(--color-dashboard-summary-card);
  padding: 1.75rem;
  padding-bottom: calc(1rem + var(--summary-shortcuts-height) / 2);
  color: white;
}

.taa-dashboard-summary__date {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -.01rem;
}

.taa-dashboard-summary__list {
  height: 1.25rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 2.25rem;
}

.taa-dashboard-summary__list__title {
  font-size: .9375rem;
  line-height: 1.375rem;
  letter-spacing: -.01rem;
}

.taa-dashboard-summary__list__data {
  display: flex;
}

.taa-dashboard-summary__list__data__price {
  font-family: 'Spoqa Han Sans';
  font-size: 1.125.rem;
}

.taa-dashboard-summary__list__data__price--emphasized {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25rem;
  letter-spacing: -.045rem;
}

.taa-dashboard-summary__list__data__unit {
  font-size: .875rem;
  align-self: flex-end;
  margin-left: 1ch;
}

.taa-dashboard-summary__shortcuts {
  position: absolute;
  left: .75rem;
  bottom: calc(var(--summary-shortcuts-height) / 2 * -1);
  height: var(--summary-shortcuts-height);
  background-color: white;
  border-radius: calc(var(--summary-shortcuts-height) / 2);
  box-shadow: var(--box-shadow-default);
  width: calc(100% - .75rem - .75rem);
  overflow: hidden;
  display: flex;
  padding: .75rem;
}

.taa-dashboard-summary-shortcuts__action {
  font-size: .875rem;
  flex: 1 1 auto;
  color: black;
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: -.035rem;

}

.taa-dashboard-summary-shortcuts__v-divider {
  flex-basis: 0 1 1px;
  background: #DBDBDB;
  max-width: 1px;
  min-width: 1px;
  width: 1px;
  height: 100%;
}

.taa-heading-lg {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -.05rem;
  color: #484848;
}

.taa-container--dashboard__sales {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  counter-reset: article;
}

.taa-card--sales-list {
  border: 1px solid var(--color-border);
  box-shadow: 0 3px 10px #00000029;
  padding: 1rem 1rem 1rem 3.75rem;
  position: relative;
  border-radius: .875rem;
  /* height: 5.25rem; */
  color: black;
  align-items: center;
  margin-bottom: .75rem;
}

.taa-card--sales-list:after {
  position: absolute;
  counter-increment: article;
  content: counter(article);
  border-radius:  .75rem;
  color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 700;
  left: 1.5rem;
  top: 50%;
  /* 시각적으로 중간으로 보이게 한다 */
  transform: translateY(calc(-50% - 1px)); 
}

.taa-sales-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.75rem;
}

.taa-sales-list__item__title {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  line-height: 1.25rem;
  letter-spacing: -.04rem;
}

.taa-sales-list__item__subtitle {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  color: #7B7B7B;
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: -.04rem;
}

.taa-sales-list__item__data {
  display: flex;
  align-items: flex-end;
}

.taa-sales-list__item__data__price {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  letter-spacing: -.0225rem;
}

.taa-sales-list__item__data__unit {
  font-size: 1rem;
}

.taa-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .875rem;
  padding: .625rem;
  background: var(--gradient-primary);
  color: white;
  font-weight: 500;
  font-size: 1.0625rem;
}

.contents-x {
  display: flex;
  margin-left: -.5rem;
  margin-right: -.5rem;
  overflow: visible;
}

.contents-x__content {
  display: inline-flex;
  flex-direction: column;
  padding-left: .5rem;
  padding-right: .5rem;
}

.contents-y {
  display: flex;
  flex-direction: column;
}

.contents-y__content:not(:last-child) {
  margin-bottom: 1rem;
}